name: polycore
channels:
  - conda-forge
  - pytorch
dependencies:
  - python=3.10
  - numpy
  - scipy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - pytorch
  - networkx
  - statsmodels
  - pip
  - pip:
      - dowhy
      - causal-learn
      - pyyaml
